<div style="width: 30vw;" class=" card">
    <div class="card-header"><h6>Select a branch</h6></div>

    <div class="p-2">
        <div class="alert alert-info ">
            <h6>Current Branch</h6>
            <hr>
            Site Code : {{selectedBranch.siteCode}}  <br>
            Branch Id :  {{selectedBranch.id}} <br>
            Branch Address :  {{selectedBranch.siteAddress}} <br>
            <br>

        </div>
    </div>

    <div class="card-body">
        <select class="form-control"
                #e
                name="branch"
                [(ngModel)]="selectedBranchId"
                (change)="onBranchSelected(e.value)">
            <option *ngFor="let branch of branches" [value]="branch.id">
                {{ branch.siteCode + "(" + branch.id + ")"}}
            </option>
        </select>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-secondary " (click)="onClose()">Close</button>
        <button type="button" class="btn btn-primary ml-3" (click)="saveChanges()">Save</button>
    </div>
</div>