<div #container class="main">

    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between align-self-center">
                <h5>Orders</h5>

                <div class="align-self-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb pull-right">
                            <li class="breadcrumb-item"><a routerLink="/">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Orders</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <nb-card>
        <nb-card-body>
            <nb-tabset>
                <nb-tab tabTitle="All Orders">
                    <logistics-grid [data]="allOrders"></logistics-grid>
                </nb-tab>

                <nb-tab tabTitle="New Orders">
                    <logistics-grid [data]="newOrders"></logistics-grid>
                </nb-tab>

                 <nb-tab tabTitle="Processing">
                    <logistics-grid [data]="processingOrders"></logistics-grid>
                </nb-tab>

                <nb-tab tabTitle="Ready For Collection">
                    <logistics-grid [data]="readyForCollection"></logistics-grid>
                </nb-tab>

                <nb-tab tabTitle="Collected">
                    <logistics-grid [data]="collectedOrders"></logistics-grid>
                </nb-tab>

            </nb-tabset>
        </nb-card-body>
    </nb-card>

</div>