<!--nb-dialog-container-->
<form
        [formGroup]="logisticsDetailForm"
        (ngSubmit)="submitChanges()"
        id="logisticsDetailForm" novalidate>
    <nb-card #parentModal [ngClass]="isMaxed?'max-size':'min-size'">

        <nb-card-header>
            <div class="float-left">
                <h3 *ngIf="isMaxed">Order Details</h3>
                <h6 *ngIf="!isMaxed">Order Details</h6>
            </div>

            <div class="float-right">
                <span class="fa fa-edit modal-header-icon" *ngIf="!editMode && isMaxed" (click)="toggleEdit()"></span>
                <span class="fa modal-header-icon " [ngClass]="isMaxed?'fa-minimize':'fa-expand'"
                      (click)="minimizeModal()"></span>
                <span class="fa fa-close modal-header-icon" (click)="closeModal()"></span>
            </div>

        </nb-card-header>

        <nb-card-body>

            <div class="row">
                <div class="col-12">
                    <h6>Order Details</h6>
                    <hr style="margin-bottom: 20px">
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <small class="control-label required"><b>Order Number</b></small>
                    <ejs-textbox
                            formControlName="OrderNumber"
                            placeholder=""
                            maxlength="30"
                            floatLabelType="Always"
                            [cssClass]="componentIsInvalid('OrderNumber','logisticsDetailForm') ? 'e-error': 'e-input'">
                    </ejs-textbox>
                    <span *ngIf="componentIsInvalid('OrderNumber','logisticsDetailForm')" class="e-error">
                    <small *ngIf="logisticsDetailForm?.get('OrderNumber').hasError('required')">Order Number is required</small></span>
                </div>


                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <small class="control-label required"><b>Order Status</b></small>

                    <select class="form-control form-select"
                            [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="logisticsModel.order.orderStatus.id">
                        <option [selected]="status.id === logisticsModel.order.orderStatus"
                                *ngFor="let status of logisticsStatuses" [ngValue]="status.id">
                            {{status.statusDisplay}}
                        </option>
                    </select>

                    <!--                    -->
                    <!--                    <ejs-dropdownlist id='x'-->
                    <!--                                      [value]="logisticsModel.order.orderStatus.id"-->
                    <!--                                      [dataSource]='logisticsStatuses'-->
                    <!--                                      placeholder='Select a status'-->
                    <!--                                      popupHeight='200px'-->
                    <!--                                      [fields]="dropDownFields"-->
                    <!--                                      [formControlName]="'logisticsStatusId'"-->
                    <!--                                      popupWidth='250px'></ejs-dropdownlist>-->
                    <!--                    <span *ngIf="componentIsInvalid('logisticsStatusId','logisticsDetailForm')" class="e-error">-->
                    <!--                    <small *ngIf="logisticsDetailForm?.get('logisticsStatusId').hasError('required')">order Status is required</small></span>-->
                </div>


                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <small class="control-label required"><b>Date Created</b></small>
                    <ejs-textbox formControlName="DateCreated"
                                 placeholder=""

                                 maxlength="30" floatLabelType="Always"
                                 [cssClass]="componentIsInvalid('DateCreated','logisticsDetailForm') ? 'e-error': 'e-input'">
                    </ejs-textbox>
                    <span *ngIf="componentIsInvalid('DateCreated','logisticsDetailForm')" class="e-error">
                        <small *ngIf="logisticsDetailForm?.get('DateCreated').hasError('required')"> Date created </small>
                     </span>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <small class="control-label required"><b>Subtotal</b></small>
                    <ejs-textbox formControlName="subTotal"
                                 placeholder=""
                                 maxlength="30"

                                 floatLabelType="Always"
                                 [cssClass]="componentIsInvalid('subTotal','logisticsDetailForm') ? 'e-error': 'e-input'"></ejs-textbox>
                    <span *ngIf="componentIsInvalid('subTotal','logisticsDetailForm')" class="e-error">
                        <small *ngIf="logisticsDetailForm?.get('subTotal').hasError('required')">Sub Total required</small></span>
                </div>


                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <small class="control-label required"><b>Delivery Total</b></small>
                    <ejs-textbox formControlName="taxTotal"
                                 placeholder=""
                                 maxlength="30"

                                 floatLabelType="Always"
                                 [cssClass]="componentIsInvalid('deliveryTotal','logisticsDetailForm') ? 'e-error': 'e-input'"></ejs-textbox>
                    <span *ngIf="componentIsInvalid('deliveryTotal','logisticsDetailForm')" class="e-error">
                        <small *ngIf="logisticsDetailForm?.get('deliveryTotal').hasError('required')">Delivery required</small></span>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <small class="control-label required"><b>Shipping Total</b></small>
                    <ejs-textbox formControlName="shippingTotal"
                                 placeholder=""
                                 maxlength="30"

                                 floatLabelType="Always"
                                 [cssClass]="componentIsInvalid('shippingTotal','logisticsDetailForm') ? 'e-error': 'e-input'"></ejs-textbox>
                    <span *ngIf="componentIsInvalid('shippingTotal','logisticsDetailForm')" class="e-error">
                        <small *ngIf="logisticsDetailForm?.get('shippingTotal').hasError('required')">Shipping Total required</small></span>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <small class="control-label required"><b>Tax Total</b></small>
                    <ejs-textbox formControlName="taxTotal"
                                 placeholder=""
                                 maxlength="30"

                                 floatLabelType="Always"
                                 [cssClass]="componentIsInvalid('taxTotal','logisticsDetailForm') ? 'e-error': 'e-input'"></ejs-textbox>
                    <span *ngIf="componentIsInvalid('taxTotal','logisticsDetailForm')" class="e-error">
                        <small *ngIf="logisticsDetailForm?.get('taxTotal').hasError('required')">Tax Total required</small></span>
                </div>

            </div>


            <div class="mt-3 mb-3">
                <h6>Order Items</h6>
                <order-items-grid [orderItems]="logisticsModel?.order?.orderItems"></order-items-grid>
            </div>

        </nb-card-body>


    </nb-card>
</form>



