<div class="main">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between align-self-center">
        <h5>Dashboard</h5>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <nb-card accent="primary">
        <nb-card-body style="min-height: 65vh">
          <div class="row">
            <div class="col-3 point">
              <a [routerLink]="['/pages/logistics/logistics']"
                class="card cards-func shadow-card rounded-lg border-0 d-flex justify-content-center">
                <span class="text-primary font-weight-bold px-3 text-left">Logistics</span>
                <small class="text-muted font-weight-bold px-3 text-left">Pick & Pack Orders</small>
                <span class="arrow-card"></span>
              </a>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>