<nb-card style="width: 40vw!important;">
    <nb-card-header>Order Collection</nb-card-header>
    <nb-card-body>

        <div class="row">

            <div class="col-6">
                <div class="form-check">
                    <input (change)="collectionTypeChanged('delivery')"
                           class="form-check-input" type="radio"
                           checked
                           name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Delivery
                    </label>
                </div>
            </div>

            <div class="col-6">
                <div class="form-check">
                    <input (change)="collectionTypeChanged('collection')"
                           class="form-check-input" type="radio"

                           name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Collection
                    </label>
                </div>
            </div>

        </div>


        <div *ngIf="isCollection">
            <div class="">
                <small class="control-label required"><b>Collection By</b></small>
                <input type="text"
                       [(ngModel)]="collectedBy"
                       placeholder=""
                       maxlength="30"
                       name="collectedBy"
                       class="form-control"/>
            </div>
        </div>

        <div *ngIf="!isCollection">
            <div class="">
                <small class="control-label required"><b>Delivery Company</b></small>
                <select name="deliveryCompany"
                        class="form-control form-select"
                        (ngModelChange)="setSelectedCompany($event)"
                        [(ngModel)]="selectedDeliveryCompany">
                    <option *ngFor="let companyModel of deliveryCompanies" [ngValue]="companyModel">
                        {{companyModel.distrubitionCompany}}
                    </option>
                </select>
            </div>
        </div>


    </nb-card-body>
    <nb-card-footer>

        <div class="container">
            <div class="row justify-content-end">
                <button (click)="close()" nbButton style="margin-right: 5px" status="basic" size="small">Close
                </button>
                <button (click)="submitChanges()" nbButton status="primary" size="small">Save</button>
            </div>
        </div>


    </nb-card-footer>
</nb-card>

<!--</form>-->