<nb-card style="width: 40vw!important;">
    <nb-card-header>Order Fulfillment Details</nb-card-header>
    <nb-card-body>

      <div class="" style="height: 600px"></div>


    </nb-card-body>
    <nb-card-footer>

        <div class="container">
            <div class="row justify-content-end">
                <button (click)="closeModal()" nbButton style="margin-right: 5px" status="basic" size="small">Close
                </button>
                <button (click)="submitChanges()" nbButton status="primary" size="small">Save</button>
            </div>
        </div>


    </nb-card-footer>
</nb-card>

<!--</form>-->